@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@300&display=swap');

/*****************************STYLING FOR DESKTOP SIZE DIMENSIONS***************************************/
* {
  margin: 0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #050609;
}
h1{
  font-size: 3em;
}
h1, h2{
  font-family: 'Open Sans', sans-serif;
}
button{
  border-radius: 6px;
  background: none;
	color: inherit;
	border: 0px solid #050609;
	padding: 5px;
	font: inherit;
	outline: inherit;
}
button:hover{
  text-decoration: underline;
  cursor:pointer;

}
a{
  color:inherit;
}
a:visited{
  color:inherit;
  text-decoration:none;
}

input{
  height:30px;
  width: 160px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 15px;
  border: none;
  color: #454545;
  background-color: #F2F2F2;
}
select{
  height:30px;
  padding-left:15px;
  padding-right:10px;
  border-radius: 15px;
  border: none;
}
#pageWrapper{
  position:relative;
  min-height:100vh;
  overflow-x: hidden;
}
.header{
  font-size: 2.5em;
  margin-bottom: 50px;
}
/*---Footer---*/
#footer{
  position:relative;
  background-color: #2C423F;
  color: #e3e3e3;
  height: 450px;
  box-sizing: border-box;
  width: 100%;
  display:flex;
}
#footer_logo_container{
  width: 40vw;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
#footer_logo{
  height: 50%;
}
#footer_content{
  line-height: 1.5em;
  width: 60vw;
  padding: 100px 50px 100px 0px;
}
#footer_content hr{
  border-top: 3px solid #e3e3e3;
}
#footer_title_container{
  padding: 30px 0px;
}
#footer_content_text{
  padding: 30px 20px;
  line-height: 2.5em;
}
#footer_content_text ul{
  list-style-type: none;
}
/*------Nav Tag------*/
#nav_tag{
  box-shadow: 0px 0px 20px 2px rgba(0, 22, 61, 0.11);
  background-color: rgba(0, 0, 0, 0.07);
  color: #000000;
  width:100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
#nav_tag a{
  text-decoration: inherit;
}
#nav_tag button{
  border-radius: inherit;
  background: inherit;
	color: inherit;
	border: inherit;
	padding: inherit;
	font: inherit;
	outline: inherit;
  background-color: inherit;
  border-color: inherit;
}
#nav_tag button:hover{
  cursor:pointer;
}
#footprint_title{
  font-size: 1.7em;
  margin-left: 20px;
}
#logo_nav_link{
  display: none;
}
#nav_tag_menu_dropdown{
  display:none;
}
#main_links{
  display: inline-flex;
  justify-content: space-around;
  font-size: 1.05em;
  margin-left: -100px;
}
#main_links h4{
  margin: 0px 50px;
}
#login_link{
  margin-right: 30px;
}
#hello_user{
  font-size: 1.05em;
  margin-right: 30px;
}
#hello_user:hover{
  cursor:pointer;
}
#user_links{
  text-align: center;
  list-style-type: none;
  position:fixed;
  display:none;
  background-color: #050505;
  color: #ffffff;
  height:100%;
  width:100%;
  opacity: 0.9;
  font-size: 2em;
  line-height:2em;
  z-index:2;
  box-sizing: border-box;
  left:0;
  top:0;
}
#user_links_content{
  display: table-cell;
  vertical-align: middle;
}
#user_links_content ul{
    list-style-type: none;
}
#user_links a:hover{
  color: inherit;
  text-decoration: underline;
  cursor:pointer;
}
#delete_div_container{
  background: transparent;
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  box-sizing: border-box;
}
#delete_div_content{
  opacity:inherit;
  color: #000000;
  position:fixed;
  padding:20px;
  padding-top: 25px;
  text-align: center;
  line-height:1.8em;
  top: 32%;
  width: 40%;
  min-height:120px;
  left: 30%;
  background-color: #EBFAFF;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#delete_div_content h3{
  margin-bottom: 15px;
}
.delete_confirmation:hover{
  position:relative;
  cursor:pointer;
  text-decoration: underline;
}
/*-------Home Page--------*/
#main_block{
  margin:0;
  width:100%;
  padding-top:200px;
  text-align: center;
  background: rgb(67,200,255);
  background: linear-gradient(0deg, rgba(67,200,255,1) 0%, rgba(155,254,23,1) 88%);
  min-height: 550px;
  overflow: visible;
}
#user_join_form_container{
  min-height: 630px;
}
#join_title{
  font-size: 3em;
  position:relative;
  margin-top:100px;
  margin-bottom:60px;
}
#open_sign_up{
  margin-top: 50px;
  width: 10%;
  color:black;
  display: inline-block;
  cursor:pointer;
}
#mobile_open_sign_up{
  display:none;
}
#home_zipcode_explanation{
  display: none;
  background-color: #EBFAFF;
  width: 28%;
  height: 300px;
  float:right;
  margin: 30px;
  margin-top: -450px;
  box-sizing: border-box;
  padding: 50px;
  line-height: 1.5em;
  border-radius: 5px;
}
#signup_error{
  text-align: center;
  margin-bottom: 10px;
}
#explanation{
  position:relative;
  font-size: 1.5em;
  color:#000;
  height:700px;
  background-color: #ffffff;
  padding: 100px;
  display:flex;
  width:100%;
  box-sizing: border-box;
}
#walking_cartoon_container{
  height:100%;
  display:flex;
  align-items: center;
}
#walking_cartoon{
  height: 100%;
}
#explanation_text{
  width: 60%;
  margin-top: 130px;
  padding-left: 8%;
}
#total_statistic{
  background: rgb(29,100,207);
  background: linear-gradient(180deg, rgba(29,100,207,1) 0%, rgba(0,28,180,1) 100%);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  box-sizing: border-box;
}
#statistic{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  color: #ededed;
}

/*---------Admin Page--------*/
#admin_page_container{
  padding: 200px 0px 100px 150px;
  background: #FF8008;
  background: -webkit-linear-gradient(45deg, #FFC837, #FF8008);
  background: linear-gradient(45deg, #FFC837, #FF8008);
}
.admin_form_cont{
  background-color: rgba(255, 255, 255, 0.35);
  margin: 30px;
  border-radius: 5px;
  padding: 40px;
  width: 40%;
  line-height: 1.5em;
}
/*---------Central Blog.php Page----------*/
#blog_header_container{
  height: 700px;
  background-color: #21D4FD;
  background-image: linear-gradient(164deg, #21D4FD 0%, #4c21ff 100%);
  display:flex;
  align-items: center;
}
#blog_header_text{
  width: 60%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 12%;
}
#blog_header_image{
  width: 35%;
  height: 70%;
  box-sizing: border-box;
  padding: 50px;
  background-color: #fff;
  margin: 15px;
  margin-right: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow:0px 0px 20px 1px rgba(0,0, 0,0.2);
}
#reading_doodle{
  height: 100%;
}
  /*featured posts section*/
.featured_previews_container{
  height: 680px;
  background-image: url('../images/ocean.jpg');
  background-size: cover;
}
.featured_previews_cont{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  padding-top: 55px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.featured_previews_cont hr{
  border: none;
  border-top: 4px solid black;
  margin: 20px 0px 30px 0px;
}
#featured_previews{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
    /*styling for featured blog previews*/
.blog_post_preview{
  min-width: 200px;
  color: #fff;
  width: 28%;
  box-sizing: border-box;
  height: 400px;
  border-radius: 5px;
}
.blog_post_preview a{
  text-decoration: none;
}
.blog_post_preview:hover{
  box-shadow:1px 3px 20px 1px rgba(0,0, 0,0.3);
  cursor:pointer;
}
.preview_image_cont{
  height: 200px;
  background-size:cover;
  border-radius: 5px 5px 0px 0px;
}
.image_path{
  display:none;
}
.preview_content{
  text-align: center;
  padding: 15px 20px 20px 20px;
  box-sizing: border-box;
  color: #000;
  background-color: #f7f7f7;
  height: calc(100% - 200px);
  border-radius: 0px 0px 5px 5px;
  position: relative;
}
.preview_author_date_cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.preview_title_cont{
  text-align:left;
  height: 50px;
  margin-top: 25px;
  font-size: 0.9em;
  line-height: 1.7em;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.preview_desc_cont{
  text-align:left;
  height: 30%;
  position: absolute;
  bottom: 15px;
  padding-right: 50px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
  /*action of the day posts div*/
#aotd_previews_cont{
  background-color: #070db0;
  background-image: linear-gradient(164deg, #070db0 0%, #030063 100%);
  color: #fff;
}
#aotd_header{
  padding: 90px 0px 100px 0px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}
.vert_divide_header_text{
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size: 1em;
}
.vert_divide_header_text h1{
  border-right: 5px solid #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px 60px;
  box-sizing: border-box;
  font-size: 3.5em;
}
.vert_divide_header_text p{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px 15px 40px;
  box-sizing: border-box;
  font-size: 1.5em;
  width: 50%;
}
#aotd_previews{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px;
}
#aotd_category_link{
  width: 100%;
  display:flex;
  justify-content: center;
  padding-bottom: 100px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.4em;
}
#aotd_category_link a{
  text-decoration: none;
}
#aotd_category_link a:hover{
  text-decoration: underline;
}
    /*styling for action deep dive previews*/
.aotd_post_preview{
  width: 40%;
  min-width: 230px;
  box-sizing: border-box;
  margin: 0px 10px 60px 10px;
}
.aotd_post_preview a{
  text-decoration: none;
}
.aotd_post_preview:hover{
  cursor:pointer;
}
.aotd_preview_image_cont{
  height: 23vw;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-color: #fff;
}
.aotd_preview_image_cont:hover{
  opacity:0.90;
}
.aotd_image_path{
  display: none;
}
.aotd_preview_content{
  font-size: 0.8em;
  padding: 25px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
  color:#fff;
  height: 100px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.aotd_preview_content:hover{
  color:#ededed;
}
  /*editorial posts div*/
.editorial_previews_container{
  padding: 40px 0px 100px 0px;
}
.editorial_header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 40px 80px 0px 30px;
}
.editorial_header hr{
  border: none;
  border-top: 4px solid #000;
  margin-top: 20px;
}
#editorial_category_link{
  font-size: 1.5em;
  text-align: right;
  padding: 30px 70px 15px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#editorial_category_link a{
  text-decoration: none;
}
#news_category_link a:hover{
  text-decoration: underline;
}
#editorial_previews{
  padding: 10px 100px 0px 60px;
}
    /*editorial previews*/
.editorial_post_preview{
  display:flex;
  height: 200px;
  width:100%;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
.editorial_post_preview:nth-of-type(1){
  border-top: 1px solid #d9d9d9;
}
.editorial_preview_image_cont{
  width: 30%;
  height: 90%;
  background-size: cover;
  background-color: #fff;
}
.editorial_preview_image_cont:hover{
  opacity:0.95;
}
.editorial_image_path{
  display:none;
}
.editorial_preview_content{
  width:60%;
  padding: 10px 25px;
}
.editorial_preview_title_cont{
  font-size: 1.05em;
  margin-bottom: 0.5em;
}
.editorial_preview_title_cont a{
  text-decoration: none;
}
.editorial_preview_title_cont a:hover{
  color: #212121
}
.editorial_preview_author_date_cont{
  font-size: 0.8em;
}
  /*climate news div*/
.news_container{
  background-color: #21D4FD;
  background-image: linear-gradient(164deg, #4c21ff 0%, #21D4FD 100%);
  color: #fff;
}
.news_header{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  padding-top: 30px;
}
#news_links{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 150px;
}

/*-------User Page-------*/
/*for some reason, whole_usersPage styling only work with this extra div surrounding it*/
#userPage_container{
  color:auto;
}
#whole_usersPage{
  color: #2b2b2b;
  min-height:100vh;
  padding-top: 200px;
  padding-bottom: 100px;
  background: rgb(83,202,252);
  background: linear-gradient(41deg, rgba(83,202,252,1) 0%, rgba(186,242,255,1) 65%);
}
#dashboard_header{
  margin-top: 50px;
  margin-left: 100px;
  font-size: 3em;
}
#user_page_greeting{
  margin-top: 100px;
  margin-left: 100px;
  font-size: 1.3em;
}
#users_action_container{
  background-color: #2C423F;
  color: #ffffff;
  padding: 30px;
  padding-right:70px;
  margin:30px 0px 40px 100px;
  height:230px;
  width:60%;
  border-radius: 5px;
  position:relative;
  overflow:scroll;
  box-sizing: border-box;
  line-height: 1.5em;
}
#users_action_container hr{
  margin-right: 80px;
  margin-bottom: 30px;
}
#users_action{
  font-size: 1.5em;
  font-weight: bold;
}
#completed_action_button {
  background-image: linear-gradient(to right, #2C423F 0%, #395652  51%, #2C423F  100%);
}
#completed_action_button {
  font-size:1.1em;
  position:relative;
   margin-left: 100px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   border-radius: 10px;
   display: block;
 }
#completed_action_button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 #user_header_look{
   margin-top: 300px;
   margin-left: 100px;
   font-size: 3.2em;
 }
.totaled_actions_container{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  background-color: #2C423F;
  color: white;
  padding: 40px 70px;
  box-sizing: border-box;
  margin: 140px;
  border-radius: 5px;
  height: 300px;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.totaled_actions_container:nth-of-type(3){
  float: right;
  margin-top: -220px;
}
#additional_user_links_container{
  background-color: rgba(29, 38, 37, 0.1);
  height: 150px;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 100px;
  box-sizing: border-box;
  text-align: center;
}
#additional_user_links_header{
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#additional_user_links{
  padding: 20px 0px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#additional_user_links p{
  text-decoration: underline;
  cursor:pointer;
  font-size: 1.2em;
  margin: 0px 40px;
  box-sizing: border-box;
}
#additional_log_out_button{
  text-decoration: underline;
}
/*------About Us Page------------*/
#about_us_header_container{
  background-image: linear-gradient( 180deg,  rgba(155,254,23,1) 45.5%, rgba(36,243,8,1) 97.9% );
  text-align: center;
  height: 700px;
  padding:0;
  display:table;
  width: 100%;
}
#about_us_header_text{
  display:table-cell;
  vertical-align: middle;
}
.about_page_container_1{
  background-image: linear-gradient(rgba(255,174,0,1) 11.2%, rgba(255, 85, 0,1) 100.2% );
  padding:60px;
  padding-left:0px;
  box-sizing: border-box;
  margin: 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 2px rgba(0, 22, 61, 0.11);
}
.about_page_container_2{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding:60px;
  padding-left:0px;
  box-sizing: border-box;
  margin: 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 2px rgba(0, 22, 61, 0.11);
}
.about_page_container{
  height: 450px;
  display: flex;
  padding-left: 30px;
}
.about_page_title_container{
  width: 50%;
  background:transparent;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  height:100%;
}
.about_page_title_container h1{
  font-size: 3em;
}
.about_page_text_container{
  width: 50%;
  background-color:white;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 80px;
  padding-right: 100px;
  font-size: 1.1em;
  margin-right: 15px;
  border-radius: 5px;
}
#about_para_container{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #f9f68e 100%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 130px;
}
#about_para_container h2{
  font-size: 2em;
}
#about_para_container p{
  font-size: 1em;
}
#quote_container_cont{
  background-color: #ffdc85;
  padding: 90px;
}
#quote_container{
  height: 400px;
  box-sizing: border-box;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  line-height: 2.4em;
}
#quote_container p{
  font-size: 1.3em;
}
.italic{
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
}
/*--------Login Page--------*/
#login_page_container{
  padding-top: 200px;
  min-height:100vh;
  background: linear-gradient(135deg,#6253E1,#04BEFE);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login_title{
  font-size: 1.8em;
  margin-bottom: 25px;
}
#user_login_form{
  display:flex;
  margin-top: 20px;
  margin-bottom: 40px;
}
#user_login_form form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_input_container{
  text-align:left;
  margin-bottom: 10px;
}
.login_input_container h4{
  margin-bottom: 5px;
}
#login_phone_input{
  padding-left: 40px;
  display: inline-block;
}
#login_submit {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#login_submit {
  margin-top: 20px;
  padding: 10px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  height: 40px;
}
#login_submit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#no_account_link{
  margin-top: 40px;
}
/*------Sign Up Page------------*/
#sign_up_page{
  padding: 150px 100px;
  min-height:100vh;
  background: linear-gradient(135deg,#6253E1,#04BEFE);
}
#sign_up_page_header{
  margin-top: 50px;
  margin-left: 100px;
  line-height: 3em;
}
#sign_up_page_header h2{
  font-size: 3em;
}
#user_join_form_margins{
  margin-top: 100px;
}
#user_join_form{
  margin-left: 35%;
  min-width: 260px;
  color: white;
  width: 30%;
  float:left;
  box-sizing: border-box;
  position:relative;
  border-radius: 5px;
  box-shadow: 0px 0px 50px 2px rgba(212, 212, 212, 0.5);
}
#sign_up_title_container{
  background: rgb(4,8,79);
  background: linear-gradient(41deg, rgba(4,8,79,1) 0%, rgba(5,7,55,1) 65%);
  color: #fff;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}
#sign_up_form_content{
  padding: 40px 10%;
  background: rgb(18,26,182);
  background: linear-gradient(180deg, rgba(18,26,182,1) 0%, rgba(11,16,113,1) 65%);
  border-radius: 0px 0px 5px 5px;
}
#sign_up_form_content form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_container{
  text-align: left;
  margin: 10px;
  color: #000;
}
.input_container h4{
  color: #fff;
}
.form_input{
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}
#phone_input{
  padding-left: 40px;
  display:inline-block;
}
#country_code{
  font-size: 0.9em;
  margin-left: -190px;
  margin-bottom: -6px;
  display:inline-block;
  color: #4a4a4a;
}
#why_zipcode_link{
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: -5px;
  margin-bottom: 5px;
}
#zipcode_explanation{
  display: none;
  background-color: #EBFAFF;
  width: 30%;
  height: 300px;
  float:right;
  margin-left: 50px;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 50px;
  line-height: 1.5em;
  border-radius: 5px;
}
#submit_user {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#submit_user {
  margin: 20px 10px 10px 10px;
  padding: 10px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  height: 45px;
}
#submit_user:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#have_account_link_container{
  width: 100%;
  display:flex;
  justify-content: center;
  padding-top: 30px;
}
/*------Edit Profile Page------*/
#edit_profile_wrapper{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding:200px 0px 150px 150px;
  line-height: 2.5em;
  min-height: 100vh;
}
#edit_profile_title{
  margin-bottom: 80px;
}
#edit_profile_wrapper ul{
  list-style-type: none;
}
#edit_profile_submit {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
#edit_profile_submit {
  margin-top: 10px;
  width: 80px;
  height: 35px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit_profile_submit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#edit_profile_delete_link{
  margin-top: 30px;
  text-decoration: underline;
}
#sitting_doodle{
  float: right;
  width: 45%;
  margin-top: -450px;
  margin-right: 180px;
}
/*-------Donate Page----------*/
#donation_page_wrapper{
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
#donation_page_wrapper input{
  all: inherit;
}
#donation_header_cont{
  height: 650px;
  display:flex;
  padding: 200px 150px 100px 150px;
  box-sizing: border-box;
  justify-content: center;
  background-color: yellow;
}
#donation_header_text{
  width: 50%;
}
#donation_header_btn_cont{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------404 Error Page---------*/
#page_wrapper_404{
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  box-sizing: border-box;
  color: #454545;
  display: flex;
  justify-content: center;
}
#text_container_404{
  margin-top: 250px;
  margin-right: 50px;
}
#image_404{
  width: 40%;
}





/*****************************STYLING FOR MOBILE / TABLET PHONE SIZE DIMENSIONS***************************************/
@media only screen and (max-width: 900px) {
/*---Footer---*/
#footer{
  height: 300px;
}
#footer_logo{
  height: 40%;
}
#footer_content{
  line-height: 1.5em;
  width: 60vw;
  padding: 40px 40px 80px 10px;
}
#footer_title_container{
  font-size: 0.8em;
}
#footer_content_text{
  line-height: 1.5em;
}
/*---Nav Tag---*/
#main_links h4:nth-of-type(1){
  display: none;
}
#main_links h4:nth-of-type(2){
  margin-left: -50px;
}
#main_links{
  margin:0;
}
#main_links h4{
  margin: 0px 40px;
}

#delete_div_content{
  width: 76%;
  left: 12%;
}

/*---Home Page---*/
#main_block{
  padding-top:100px;
}
#join_title{
  font-size:2em;
  padding:20px;
  margin-bottom: 0;
}
#open_sign_up{
  display:none;
}
#mobile_open_sign_up{
  margin-top: 20px;
  width: auto;
  color:black;
  display: inline-block;
  cursor:pointer;
}
#mobile_open_sign_up a{
  text-decoration: none;
}
#user_join_form_container{
  display:none;
}
#walking_cartoon_container{
  display:none;
}
#explanation{
  font-size: 1em;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  height:350px;
}
#explanation_text{
  width:90%;
  margin-top:0;
  padding-left: 0;
}
#total_statistic{
  height: 300px;
  display:table;
  text-align: center;

}
#statistic{
  display:table-cell;
  vertical-align: middle;
  font-size: 1.2em;
}

/*---Login Page---*/
#user_login_form form{
  display: flex;
  flex-direction: column;
}
/*---Sign Up Page---*/
#sign_up_page{
  padding: 150px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sign_up_page_header{
  margin-left:0;
}
#user_join_form{
  max-width: 380px;
  width: 90vw;
  margin:0;
}
#zipcode_explanation{
  margin-left: 0;
  margin-top: 20px;
  width: 80%;
}
#have_account_link_container{
  margin-top: 20px;
}

/*---About us page---*/
#about_us_header_container{
  padding: 40px;
  box-sizing: border-box;
  height: 600px;
}
#about_us_header_text{
  font-size: 1em;
}
#about_us_header{
  font-size: 2em;
}
.about_page_container_1{
  padding:20px;
  padding-left:20px;
  margin:30px;
}
.about_page_container_2{
  padding:20px;
  padding-left:20px;
  margin:30px;
}
.about_page_container{
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-bottom: 20px;
}
.about_page_title_container{
  height:auto;
  margin: 30px 0px;
}
.about_page_title_container h1{
  font-size: 1.8em;
  text-align:center;
}
.about_page_text_container{
  font-size: 0.8em;
  padding:30px;
  margin:0;
  width: 80%;
}
#about_para_container{
  padding: 70px 70px;
}
#about_para_container h2{
  font-size: 1.2em;
  margin-bottom: 10px;
}
#about_para_container p{
  font-size: 0.8em;
  margin-bottom: 25px;
}
#quote_container_cont{
  padding: 40px;
}
#quote_container{
  line-height: 1.3em;
  padding: 60px 50px;
  height: 250px;
}
#quote_container p{
  font-size: 0.9em;
}

/*---User Page---*/
#whole_usersPage{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#dashboard_header{
  margin-left: 0;
  font-size: 2em;
  margin: 0px 30px;
}
#user_page_greeting{
  margin-top:70px;
  margin-left:0;
}
#users_action_container{
  padding-right: 30px;
  margin:30px 0px 40px 0px;
}
#users_action_container hr{
  margin-right: 20px;
}
#completed_action_button {
  margin-left:0;
}
#user_header_look{
  margin: 200px 0px 50px 0px;
  font-size: 1.6em;
}
.totaled_actions_container{
  margin: 15px 0px 15px 0px;
  width:85%;
  height:200px;
  font-size: 1em;
}
.totaled_actions_container:nth-of-type(3){
  float: none;
  margin-top: 15px;
}
#additional_user_links_container{
  background-color: rgba(29, 38, 37, 0.1);
  width: 100%;
  height: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 200px;
  margin-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#additional_user_links_header{
  display: flex;
  justify-content: center;
  height: 4em;
}
#additional_user_links{
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5em;
}
#additional_user_links p{
  font-size: 1.2em;
}
#additional_log_out_button{
  text-decoration: underline;
  margin-left: 2px;
}

/*---Edit Profile Page---*/
#edit_profile_wrapper{
   padding: 200px 0px 100px 0px;
   text-align: center;
}
#edit_profile_title{
  font-size:2em;
}
#edit_profile_form ul{
display:flex;
flex-direction: column;
align-items: center;
}
#edit_profile_form ul li{
  width: 200px;
  text-align:left;
}
#edit_submit_container{
  width:100%;
  display:flex;
  justify-content: center;
}
#sitting_doodle{
  display:none;
}

/*-Blog.php Page-*/
#blog_header_container{
  height: 450px;
  justify-content: center;
}
#blog_header_text{
  text-align: center;
  align-items: center;
  padding-left: 0;
  font-size: 0.7em;
}
#blog_header_text h1{
  margin-bottom: 1em;
}
#blog_header_text h3{
  font-size: 1.5em;
}
#blog_header_image{
  display:none;
}
  /*featured posts section*/
.featured_previews_container{
  height: 52vw;
  min-height: 350px;
  font-size: 0.7em;
}
.featured_previews_cont{
  padding: 6vw 3vw;
}
#featured_blog_header{
  font-size: 4vw;
}
.featured_previews_cont hr{
  border-top: 2px solid black;
  margin: 8px 30px 15px 0px;
}
#featured_previews{
  padding-top: 15px;
  overflow-x: scroll;
  justify-content: left;
}
    /*styling for featured blog previews*/
.blog_post_preview{
  min-height: 200px;
  height: 28vw;
  margin: 0px 8px;
  width: 40%;
  min-width: 180px;
}
.preview_image_cont{
  height: 120px;
}
.preview_content{
  height: calc(100% - 120px);
}
.preview_author_date_cont{

}
.preview_title_cont{
  font-size: 0.8em;
  margin-top: 4px;
  line-height: 1.4em;
}
.preview_desc_cont{
  bottom: 4px;
  padding-right: 8px;
  -webkit-line-clamp: 2;
  font-size: 0.7em;
  line-height: 1em;
}
  /*action of the day posts div*/
#aotd_header{
  padding: 7vw 0px 35px 0px;
}
.vert_divide_header_text{
  font-size: 1.7vw;
}
.vert_divide_header_text h1{
  border-right: 3px solid #fff;
  padding: 10px 20px 10px 50px;
  font-size: 2.2em;
  text-align: center;
}
.vert_divide_header_text p{
  padding: 10px 40px 10px 20px;
}
#aotd_previews{
  padding: 0px 10px;
}
#aotd_category_link{
  padding-bottom: 20px;
  font-size: 1em;
}
    /*styling for action deep dive previews*/
.aotd_post_preview{
  min-width: 52%;
  margin: 0px 10px 5.5vw 10px;
}
.aotd_preview_image_cont{
  height: 23vw;
}
.aotd_preview_content{
  font-size: 1.4vw;
  padding: 20px 20px 5px 20px;
  height: auto;
  max-height: 70px;
  margin-bottom: 15px;
}
  /*editorial posts div*/
.editorial_previews_container{
  padding: 10px 0px 40px 0px;
}
.editorial_header{
  padding: 10px 40px 0px 10px;
}
.editorial_header h1{
  font-size: 4vw;
}
.editorial_header hr{
  border-top: 3px solid #000;
}
#editorial_category_link{
  font-size: 1em;
  padding: 10px 10px 10px 0px;
}
#editorial_previews{
  padding: 15px 45px 0px 15px;
}
    /*editorial previews*/
.editorial_post_preview{
  min-height: 100px;
  height: 15vw;
}
.editorial_preview_image_cont{
  width: 37%;
}
.editorial_preview_content{
  width: 55%;
  padding: 10px 3vw;
  font-size:calc(7px + 1vw);
  line-height: 1.2em;
}
.editorial_preview_title_cont{
  font-size: 0.8em;
  margin-bottom: 1em;
  line-height: 1.9em;
}
.editorial_preview_author_date_cont{
  font-size: 0.8em;
}
  /*climate news div*/
.news_header{
  padding-top: 20px;
  margin-bottom: 5vw;
}
#news_links{
  padding: 30px 15vw;
  font-size:calc(7px + 1vw);
}

/*---404 Error Page---*/
#page_wrapper_404{
  flex-direction: column-reverse;
  justify-content: start;
  align-items:center;
}
#text_container_404{
  margin-top: 50px;
  margin-right:0;
}
#image_404{
width:80%;
}
}

/****************STYLING FOR ONLY MOBILE SIZE DIMENSIONS*************************/
@media only screen and (max-width: 700px) {
/*---Nav Tag (turn main links into a dropdown instead*)---*/
#footprint_title{
  display: none;
}
#logo_nav_link{
  display: block;
}
#nav_logo{
  width: 50px;
  margin-left: 20px;
}
#nav_tag_menu_dropdown{
  cursor: pointer;
  display:block;
  height: 100%;
  display: flex;
  align-items: center;
}
#main_links{
  display: none;
}
#dropdown_main_links{
  display: none;
  background-color: rgba(26, 155, 255, 0.95);
  font-size: calc(9px + 1vw);
  border-radius: 0px 0px 7px 7px;
  height: 35vw;
  min-height: 200px;
  width: 40%;
  min-width: 150px;
  position:absolute;
  top: 70px;
  left: 30%;
  box-shadow: -1px 10px 10px 1px rgba(0, 0, 0, 0.2),
              1px 10px 10px 1px rgba(0, 0, 0, 0.2);
}
#nav_tag_menu_dropdown:hover #dropdown_main_links{
  display: block;
}
#dropdown_main_links h4{
  margin: 0;
  height: 24%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dropdown_main_links h4:hover{
  background-color: rgba(43, 163, 255, 0.6);

}
#dropdown_main_links h4 a:hover{
  text-decoration: underline;
}
#dropdown_main_links h4:active{
  background-color:rgba(43, 163, 255, 0.6);
}
#dropdown_main_links h4 a:hover{
  text-decoration: underline;
}
#dropdown_main_links h4:nth-of-type(1){
  display: flex;
}
#dropdown_main_links h4:nth-of-type(2){
  margin-left: 0;
}
#login_link{

}
#hello_user{

}


}
